<body>
    <!-- Banner section of the body begins here -->

    <section class="sm:h-[15vh] h-[5vh] ">
        <div class="w-[100%] h-[100vh] ">
            <header class=" mx-auto">
                <div  class="max-w-[1320px] grid sm:grid-cols-2 grid-cols-[30%_auto]  px-[10px] items-center  lg:mx-auto mx-[10px] rounded-[5px] gap-[1rem] bg-[#00011179]">
                    <figure class="flex justify-end ">
                        <img class="sm:w-[15%] w-[40%]" src="/images/icons/lemon.png">
                    </figure>
                    
                    <div class="grid grid-cols-2">
                        <div class="items-center ">
                            <h1 class="lg:text-[30px] sm:text-[22px]  font-sans font-bold text-[Green] leading-3 ">LIMEY BLOGGER</h1>
                        </div>
                        <div class="flex justify-end  ">
                            <button class="bg-lime-600 rounded p-[1%] sm:text-[15px] text-[12px] text-[white] ml-[5pxpx]">Explore</button>
                            <select class="mx-[5px] bg-lime-600 rounded p-[1%] sm:text-[15px] text-[12px] text-[white]" name="" id="">
                                <option value="login"><button >Log In</button></option>
                                <option value="signup"><button>Sign Up</button></option>
                            </select>
                        </div>
                    </div>
                </div>                
            </header>


        </div>
    </section>
</body>