<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <%- include("partials/Header.ejs") %>


    <!-- type Section of the body begins here -->
     <section>
        <form action="/submit" method="post" >
            <label for="description">Description:</label>
            <textarea class="border-2" id="description" name="description" required></textarea>
            <button type="submit">Submit</button>
        </form>    
     </section>
     <!-- Type section of the body ends here -->
</body>
</html>